/2025-12-15_17-09-53.png
/2025-12-15_17-12-05.png
/2025-12-15_17-12-59.png
/2025-12-15_17-14-10.png
/Elizavetta
/rus_VC_link.txt
/vhod.txt
/VSCodeUserSetup-x64-1.93.1.exe
/webstormссылка на скачку проги.txt
/важно.txt
/доки.docx
/Инструкция по регистрации в «Рокет Ворк» для Самозанятых.pptx
/карта.docx
/Памятка для преподавателей на периоде адаптации.pdf
/Первый урок - дети.pdf
/урок.docx