@font-face {
    font-family: "OpenSans";
    src:url('OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src:url('OpenSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src:url('OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}