 /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,700&display=swap'); */
 import url('fonts/fonts.css');

 body {
     font-family: 'OpenSans', 'Verdana';
     font-size: 16px;
     min-height: 100vh;
     background-color: white;
 }